{% extends 'basic.html' %}
{% load static %}
{% block slider %}
{% include  'headertitle.html' with headertitle="Archives" %}
{% endblock %}
{% block body %}
<style>
    .yearbox {
        padding: 25px;
        background-color: #dbd884;
        color: aliceblue;
        border: solid;
        border-radius: 10px;
        margin-bottom: 18px;

    }
</style>
<div class="container">
    <div class="row">
        {% for data in yearsbydata %}
        <div class="yearcontainer">
            <div class="col-md-9 row ">
                <div class="container " style="margin-left: 11px;">
                    <h3>{{data.0.0.issue.year}}</h3>
                </div>
                {% for d in data %}
                <div class="col-md-4 ">
                    <center>
                        <div class="yearbox"><a href="{% url 'listarticals' d.0.issue.year.year d.0.issue.vol.vol d.0.issue.id %}">{{d.0.issue}}</a>
                        <p>( {{d.count}} Articals )</p>
                        </div>
                        
                    </center>
                </div>
                {% endfor %}
            </div>


            <div class="col-md-3">


            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}