<div class="ts-titlebar-wrapper ts-bg ts-bgcolor-transparent ts-titlebar-align-left ts-textcolor-white ts-bgimage-yes">
	<div class="ts-titlebar-wrapper-bg-layer ts-bg-layer"></div>
	<div class="ts-titlebar entry-header">
		<div class="ts-titlebar-inner-wrapper">
			<div class="ts-titlebar-main">
				<div class="container">
					<div class="ts-titlebar-main-inner">
						<div class="entry-title-wrapper">
							<div class="container">
								<h1 class="entry-title"> {{headertitle}}</h1>
							</div>
						</div>
						<div class="breadcrumb-wrapper">
							<div class="container">
								<div class="breadcrumb-wrapper-inner">
									<!-- Breadcrumb NavXT output --><span><a title="Go to LabtechCO."
											href="/"
											class="main-home"><span>home</span></a> &gt; <span><span
											class="post post-page current-item"> {{headertitle}}</span></span></div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- .ts-titlebar-main -->
		</div><!-- .ts-titlebar-inner-wrapper -->
	</div><!-- .ts-titlebar -->
</div>