{% extends 'basic.html' %}
{% load static %}
{% block slider %}
{% include  'headertitle.html' with headertitle=title %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="y-4">
        <h4>
            <a href="{% url 'archives' %}"> Archives </a>/ {{artical.0.issue}}
        </h4>
    </div>
    <div class="shadow-box p-5">
        <div class="container">
            {% if artical %}
            {% for data in artical %}
            <h6><strong><a href="{% url 'abstractarticle' data.slug %}">{{data.heading}}</a></strong></h6>
            <span>{% for d in data.authors.all %}{{d}} , {% endfor %}</span>
            <div>
                <a herf="/#"><i class="ts-labtechco-icon-eye"></i>&nbsp;{{data.getViews}}</a>
                &nbsp;&nbsp; <a herf="/#"><i class="bi bi-download"></i>&nbsp;&nbsp;{{data.getDownloads}}</a>
            </div>
            <div style="margin-top: 20px;">
                <a href="{{data.pdf.url}}" target="_blank" class="btn btn-success"><i class="ts-labtechco-icon-eye"></i>
                    View Pdf</a>
                <a href="{% url 'abstractarticle' data.slug %}" class="btn btn-warning"><i
                        class="ts-labtechco-icon-angle-down"></i> Abstract Pdf</a>
                <a href="{% url 'downloadpdf' data.slug 'download' %}" class="btn btn-success"><i
                        class="bi bi-download"></i>&nbsp;Download PDF</a>
                <hr>
            </div>
            {% endfor %}
            {% else %}
                    <center><h2>No results Found...</h2>
                    <form>
                        <form class="row p-5" action="{% url 'search' %}">
                                <input type="text" name='q' placeholder="search here" style="width: 50%;">
                                <input type="submit" value="Search">
                        </form>
                        
                    </form></center>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}