{% extends 'basic.html' %}
{% load static %}
{% block slider %}{% endblock %}
{% block bodyclass %}ts-portfolio-template-default single single-ts-portfolio postid-6896 theme-labtechco woocommerce-no-js ts-headerstyle-style-8 themestek-wide themestek-page-full-width ts-empty-sidebar ts-pf-view-style-3 wpb-js-composer js-comp-ver-6.5.0 vc_responsive
{% endblock %}
{% block body %}
{% include  'headertitle.html' with headertitle=headertitle %}
<div id="content-wrapper" class="site-content-wrapper" style="padding-top:40px;">


    <div id="content" class="site-content container">
        <div id="content-inner" class="site-content-inner ">



            <div id="primary" class="content-area ">
                <main id="main" class="site-main">

                    <div class="ts-pf-single-content-wrapper ts-pf-view-top-image">

                        <div class="themestek-common-box-shadow ts-pf-single-content-wrapper-innerbox">


                            <!-- =============================================================== -->
                            <div class="ts-pf-top-content">

                                <div
                                    class="ts-row wpb_row vc_row-fluid vc_row container ts-bgimage-position-center_center">
                                    <div class="vc_row-o-equal-height vc_row-flex">
                                    <div class="vc_column-inner">
                                        <h4 style="text-align:left;" class="ts-custom-heading ">PROJECT
                                                        OVERVIEW</h4>
                                                    <div class="ts-portfolio-short-desc">
                                                        <p>When faced with a supply chain disruption, proactive and
                                                            reactive supply chain risk management can in fact make or
                                                            break a company’s existence. One of the most famous (or
                                                            rather infamous) cases is the fire at the Philips microchip
                                                            plant in Albuquerque, New Mexico, in 2000, which
                                                            simultaneously affected both Nokia and Ericsson. However,
                                                            both companies took a very different approach toward the
                                                            incident, and in hindsight, clearly displayed how to and how
                                                            not to handle supply chain disruptions. New Mexico, in 2000,
                                                            which simultaneously affected both Nokia and Ericsson</p>
                                                    </div>
                                    </div>
                                        <div
                                            class="ts-column wpb_column vc_column_container vc_col-sm-8 themestek-pf-single-short-desc">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">

                                                    <!-- .ts-portfolio-short-desc -->
                                                     <img height="60%"
                                                            src="/media/{{research.img}}"
                                                            class="attachment-themestek-img-1170x575 size-themestek-img-1170x575 wp-post-image"
                                                            alt="" loading="lazy" data-id="7161" />
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="ts-column wpb_column vc_column_container vc_col-sm-4 ts-span ts-right-span">
                                            <div class="vc_column-inner themestek-pf-single-details-area">
                                                <div class="wpb_wrapper">

                                                    <h5>PROJECT DETAILS</h5>

                                                    <div class="themestek-pf-detailbox">
                                                        <div class="themestek-pf-detailbox-inner">
                                                           {{research.projectDetails|safe}}
                                                        </div><!-- .themestek-pf-detailbox-inner -->
                                                    </div><!-- .themestek-pf-detailbox -->

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="ts-row wpb_row vc_row-fluid">
                                    <div class="vc_row container">
                                        <div
                                            class="ts-column wpb_column vc_column_container vc_col-sm-12 ts-overlap-row">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="ts-featured-wrapper ts-ts-portfolio-featured-wrapper">
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- .ts-pf-top-content -->

                            <div class="ts-portfolio-description">
                                <div data-vc-full-width="true" data-vc-full-width-init="false"
                                    class="ts-row wpb_row vc_row-fluid vc_custom_1533817922335 ts-total-col-1 ts-zindex-0 ts-bgimage-position-center_center">



                                    <div class="vc_row container">


                                        <div class="ts-column wpb_column vc_column_container vc_col-sm-12 ts-zindex-0">
                                            <div class="vc_column-inner  ">
                                                <div class="wpb_wrapper">
                                                   {{research.content|safe}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="vc_row-full-width vc_clearfix"></div>








                                <div data-vc-full-width="true" data-vc-full-width-init="false"
                                    class="ts-row wpb_row vc_row-fluid vc_custom_1534928732086 ts-total-col-1 ts-zindex-0 ts-bgimage-position-center_center">



                                    <div class="vc_row container">


                                        <div class="ts-column wpb_column vc_column_container vc_col-sm-12 ts-zindex-0">
                                            <div class="vc_column-inner  ">
                                                <div class="wpb_wrapper">
                                                    <h4 style="text-align:left;" class="ts-custom-heading ">Our Process
                                                    </h4>

                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                          {{research.processOverview|safe}}

                                                        </div>
                                                    </div>

                                                    <div
                                                        class="ts-row-inner vc_row wpb_row vc_inner vc_row-fluid vc_custom_1534928764988 ts-zindex-0">
                                                        {% for data in research.process.all %}
                                                        <div
                                                            class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
                                                            <div class="vc_column-inner  ">

                                                                <div class="wpb_wrapper">


                                                                    <div
                                                                        class="ts-ihbox ts-ihbox-style-4 ts-ihbox-itype-none ">
                                                                        <div
                                                                            class="ts-sbox-bgimage-layer ts-bgimage-layer">
                                                                        </div>
                                                                        <div
                                                                            class="ts-ihbox-wrapper-bg-layer ts-bg-layer">
                                                                        </div>

                                                                        <div class="ts-ihbox-inner">
                                                                            <div
                                                                                class="ts-ihbox-icon ts-large-icon ts-icon-skincolor">
                                                                            </div>

                                                                            <div class="ts-ihbox-big-number-text">0{{forloop.counter}}
                                                                            </div>
                                                                            <div class="ts-ihbox-contents">
                                                                                <div
                                                                                    class="ts-vc_general ts-vc_cta3 ts-cta3-only ts-vc_cta3-style-classic ts-vc_cta3-shape-rounded ts-vc_cta3-align-left ts-vc_cta3-color-transparent ts-vc_cta3-icon-size-md ts-vc_cta3-actions-no ts-cta3-without-desc">
                                                                                    <div
                                                                                        class="ts-vc_cta3_content-container">
                                                                                        <div class="ts-vc_cta3-content">
                                                                                            <div
                                                                                                class="ts-vc_cta3-content-header ts-wrap">
                                                                                                <div
                                                                                                    class="ts-vc_cta3-headers ts-wrap-cell">
                                                                                                    <h2
                                                                                                        class="ts-custom-heading ">
                                                                                                        {{data.title}}
                                                                                                    </h2>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="ts-cta3-content-wrapper">
                                                                                    {{data.content}}</div>
                                                                            </div><!-- .ts-ihbox-contents -->
                                                                        </div>

                                                                    </div>



                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}

                                                      

                                                    </div>

                                                </div>
                                            </div>
                                        </div>




                                    </div>
                                </div>


                                <div class="vc_row-full-width vc_clearfix"></div>
                            </div><!-- .ts-portfolio-description -->
                            <!-- =============================================================== -->





                            <div class="themestek-pf-single-content-bottom container">
                                <div class="ts-pf-single-category-w">
                                    <a href="../../portfolio-category/oncology/index.html">Oncology</a> </div>
                                <div class="ts-social-share-wrapper ts-social-share-portfolio-wrapper">
                                    <div class="ts-social-share-links">
                                        <ul>
                                            <li class="ts-social-share ts-social-share-facebook">
                                                <a href="javascript:void(0)"
                                                    onClick="TSSocialWindow=window.open('http://web.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flabtechco.themestek.com%2Flabtechco-demo7%2Fportfolio%2Ftranslational-research%2F&amp;_rdr','TSSocialWindow',width=600,height=100); return false;"><i
                                                        class="ts-labtechco-icon-facebook"></i></a>
                                            </li>
                                            <li class="ts-social-share ts-social-share-twitter">
                                                <a href="javascript:void(0)"
                                                    onClick="TSSocialWindow=window.open('http://twitter.com/share?url=https://labtechco.themestek.com/labtechco-demo7/portfolio/translational-research/','TSSocialWindow',width=600,height=100); return false;"><i
                                                        class="ts-labtechco-icon-twitter"></i></a>
                                            </li>
                                            <li class="ts-social-share ts-social-share-gplus">
                                                <a href="javascript:void(0)"
                                                    onClick="TSSocialWindow=window.open('http://plus.google.com/share?url=https://labtechco.themestek.com/labtechco-demo7/portfolio/translational-research/','TSSocialWindow',width=600,height=100); return false;"><i
                                                        class="ts-labtechco-icon-gplus"></i></a>
                                            </li>
                                            <li class="ts-social-share ts-social-share-pinterest">
                                                <a href="javascript:void(0)"
                                                    onClick="TSSocialWindow=window.open('http://www.pinterest.com/pin/create/button/?url=https://labtechco.themestek.com/labtechco-demo7/portfolio/translational-research/','TSSocialWindow',width=600,height=100); return false;"><i
                                                        class="ts-labtechco-icon-pinterest"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div><!-- .themestek-common-box-shadow -->

                        <div class="container">
                            <div class="ts-pf-single-np-nav">
                                <nav class="navigation post-navigation" role="navigation" aria-label="Posts">
                                    <h2 class="screen-reader-text">Post navigation</h2>
                                    <div class="nav-links">
                                        <div class="nav-previous"><a href=""
                                                rel="prev"><span class="meta-nav" aria-hidden="true">Previous</span>
                                                <span class="screen-reader-text ts-hide">Previous post:</span> <span
                                                    class="post-title ts-hide">Cancer Cell Biology</span></a></div>
                                        <div class="nav-next"><a href="../catalysis-processes/index.html"
                                                rel="next"><span class="meta-nav" aria-hidden="true">Next</span> <span
                                                    class="screen-reader-text ts-hide">Next post:</span> <span
                                                    class="post-title ts-hide">Catalysis Processes</span></a></div>
                                    </div>
                                </nav>
                            </div>
                        </div>

                    </div><!-- .ts-pf-single-content-wrapper -->



                </main><!-- .site-main -->
                <div class="themestek-related-wrapper container">
                    <div class="ts-pf-single-related-wrapper">
                        <h3 class="ts-pf-single-related-title">RELATED PROJECTS</h3>


                        <div class="row multi-columns-row themestek-boxes-row-wrapper">
                           {% for data in relatedtpost %}
                            <div class="ts-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 oncology">
                                <article
                                    class="themestek-box themestek-box-portfolio ts-portfoliobox-style-2 themestek-box-view-overlay ts-hover-style-3">
                                    <div class="themestek-post-item">

                                        <span class="themestek-item-thumbnail">
                                            <span class="themestek-item-thumbnail-inner">
                                                <img width="800" height="715"
                                                    src="/media/{{data.img}}"
                                                    class="attachment-themestek-img-800x715 size-themestek-img-800x715 wp-post-image"
                                                    alt="" loading="lazy" data-id="8108" />
                                            </span>
                                        </span>
                                        <div class="themestek-box-content themestek-overlay">
                                            <div class="themestek-box-content-inner">
                                                <div class="themestek-pf-box-title">
                                                    <div class="themestek-box-category"><a
                                                            href="{% url 'catresearch' data.category.slug %}"
                                                            rel="tag">{{data.category}}</a></div>
                                                    <h3><a href="{% url 'singleresearch' data.slug %}">{{data.heading}}</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                           {% endfor %}
                        </div>

                    </div>
                </div>
            </div><!-- .content-area -->





        </div><!-- .site-content-inner -->
    </div><!-- .site-content -->
</div><!-- .site-content-wrapper -->
<!-- .site-content-wrapper -->
{% endblock %}