{% extends 'basic.html' %}
{% load static %}
{% block slider %}{% endblock %}

<!-- {% block bodyclass %}
page-template-default page page-id-6669 theme-labtechco woocommerce-no-js ts-headerstyle-style-8 themestek-wide themestek-page-full-width ts-empty-sidebar wpb-js-composer js-comp-ver-6.5.0 vc_responsive
{% endblock %} -->
{% block body %}
<div id="content-wrapper" class="site-content-wrapper">


	<div id="content" class="site-content ">
		<div id="content-inner" class="site-content-inner ">

			<div id="primary" class="content-area  ">
				<main id="main" class="site-main">


					<article id="post-6669" class="post-6669 page type-page status-publish hentry">


						<header class="single-entry-header ts-hide">
							<h2 class="entry-title">About Us</h2>
						</header><!-- .entry-header -->

						<div class="entry-content">
							<div data-vc-full-width="true" data-vc-full-width-init="false"
								class="ts-row wpb_row vc_row-fluid ts-column-pad-0 vc_custom_1535171682818 ts-responsive-custom-69022376 ts-break-col-1200 ts-total-col-2 ts-zindex-0 ts-bgimage-position-center_center">



								<div class="vc_row container">


									<div class="ts-column wpb_column vc_column_container vc_col-sm-6 ts-zindex-0">
										<div class="vc_column-inner vc_custom_1533536933706 ">
											<div class="wpb_wrapper">
												<div
													class="ts-element-heading-wrapper ts-heading-inner ts-element-align-left ts-seperator-none  vc_custom_1534659576627">
													<section class="ts-vc_cta3-container">
														<div
															class="ts-vc_general ts-vc_cta3 ts-cta3-only ts-vc_cta3-style-classic ts-vc_cta3-shape-rounded ts-vc_cta3-align-left ts-vc_cta3-color-transparent ts-vc_cta3-icon-size-md ts-vc_cta3-actions-no ts-cta3-with-desc">
															<div class="ts-vc_cta3_content-container">
																<div class="ts-vc_cta3-content">
																	<div class="ts-vc_cta3-content-header ts-wrap">
																		<div class="ts-vc_cta3-headers ts-wrap-cell">
																			<h2 class="ts-custom-heading ">
																				ABOUT US WE ARE
																				<strong>THE<br />
																					TRUSTED EXPERTS</strong>
																			</h2>
																		</div>
																	</div>
																	<div class="ts-cta3-content-wrapper">
																		<p>RB SCIENCE is a research based
																			consulting and publishing
																			organization working in the
																			field of pharmaceutical and
																			biological sciences.</p>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div> <!-- .ts-element-heading-wrapper container -->
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<p>RB SCIENCE is a research based consulting and
															publishing organization working in the field of
															pharmaceutical and biological sciences.</p>

													</div>
												</div>
											</div>
										</div>
									</div>





									<div class="ts-column wpb_column vc_column_container vc_col-sm-6 ts-zindex-0">
										<div
											class="vc_column-inner  ts-responsive-custom-69486073 ts-col-bgcolor-skincolor ts-col-bgcolor-yes">
											<div
												class="ts-col-wrapper-bg-layer ts-bg-layer ts-bgimage-position-center_center">
												<div class="ts-bg-layer-inner"></div>
											</div>
											<div class="wpb_wrapper">

												<div class="wpb_single_image wpb_content_element vc_align_left">

													<figure class="wpb_wrapper vc_figure">
														<div class="vc_single_image-wrapper   vc_box_border_grey">
															<img width="1200" height="800" src="{% static "
																wp-content/uploads/sites/13/2018/08/service-new-02.jpg"
																%}" class="vc_single_image-img attachment-full" alt=""
																loading="lazy"
																srcset="https://labtechco.themestek.com/labtechco-demo7/wp-content/uploads/sites/13/2018/08/service-new-02.jpg 1200w, https://labtechco.themestek.com/labtechco-demo7/wp-content/uploads/sites/13/2018/08/service-new-02-300x200.jpg 300w, https://labtechco.themestek.com/labtechco-demo7/wp-content/uploads/sites/13/2018/08/service-new-02-1024x683.jpg 1024w, https://labtechco.themestek.com/labtechco-demo7/wp-content/uploads/sites/13/2018/08/service-new-02-768x512.jpg 768w, https://labtechco.themestek.com/labtechco-demo7/wp-content/uploads/sites/13/2018/08/service-new-02-600x400.jpg 600w"
																sizes="(max-width: 1200px) 100vw, 1200px"
																data-id="8082" />
														</div>
													</figure>
												</div>

												<div
													class="ts-row-inner vc_row wpb_row vc_inner vc_row-fluid vc_custom_1534659427495 ts-zindex-0">

													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-6 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">
																<h4 style="text-align:left;" class="ts-custom-heading ">
																	HOURS &amp;
																	PRICING</h4>
																<p style="text-align:left;" class="ts-custom-heading ">
																	We look
																	forward to seeing you!</p>
															</div>
														</div>
													</div>


													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-6 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">

																<div
																	class="ts-vc_btn3-container  ts-btn-align-left-767 ts-vc_btn3-right">
																	<a class="ts-vc_general ts-vc_btn3 ts-vc_btn3-size-md ts-vc_btn3-shape-square ts-vc_btn3-style-flat ts-vc_btn3-weight-no ts-vc_btn3-color-white"
																		href="#" title="">LEARN MORE</a>
																</div>
															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
									</div>




								</div>
							</div>


							<div class="vc_row-full-width vc_clearfix"></div>








							<div data-vc-full-width="true" data-vc-full-width-init="false"
								class="ts-row wpb_row vc_row-fluid ts-column-pad-0 vc_custom_1533893514163 ts-total-col-2 ts-zindex-0 ts-bgimage-position-center_center">



								<div class="vc_row container">


									<div class="ts-column wpb_column vc_column_container vc_col-sm-6 ts-zindex-0">
										<div
											class="vc_column-inner vc_custom_1535171890113 ts-responsive-custom-67218138">
											<div class="wpb_wrapper">

												<div class="wpb_single_image wpb_content_element vc_align_left">

													<figure class="wpb_wrapper vc_figure">
														<div class="vc_single_image-wrapper   vc_box_border_grey">
															<img width="570" height="607" src="{% static "
																wp-content/uploads/sites/13/2020/12/new-img-02.jpg" %}"
																class="vc_single_image-img attachment-full" alt=""
																loading="lazy"
																srcset="https://labtechco.themestek.com/labtechco-demo7/wp-content/uploads/sites/13/2020/12/new-img-02.jpg 570w, https://labtechco.themestek.com/labtechco-demo7/wp-content/uploads/sites/13/2020/12/new-img-02-282x300.jpg 282w"
																sizes="(max-width: 570px) 100vw, 570px"
																data-id="8144" />
														</div>
													</figure>
												</div>
											</div>
										</div>
									</div>





									<div class="ts-column wpb_column vc_column_container vc_col-sm-6 ts-zindex-0">
										<div class="vc_column-inner  ">
											<div class="wpb_wrapper">
												<div
													class="ts-element-heading-wrapper ts-heading-inner ts-element-align-left ts-seperator-none ">
													<section class="ts-vc_cta3-container">
														<div
															class="ts-vc_general ts-vc_cta3 ts-cta3-only ts-vc_cta3-style-classic ts-vc_cta3-shape-rounded ts-vc_cta3-align-left ts-vc_cta3-color-transparent ts-vc_cta3-icon-size-md ts-vc_cta3-actions-no ts-cta3-without-desc">
															<div class="ts-vc_cta3_content-container">
																<div class="ts-vc_cta3-content">
																	<div class="ts-vc_cta3-content-header ts-wrap">
																		<div class="ts-vc_cta3-headers ts-wrap-cell">
																			<h2 class="ts-custom-heading ">
																				ABOUT US WE ARE
																				<strong>THE<br />
																					TRUSTED EXPERTS</strong>
																			</h2>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div> <!-- .ts-element-heading-wrapper container -->
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<p>RB SCIENCE is a research based consulting and
															publishing organization working in the field of
															pharmaceutical and biological sciences..</p>

													</div>
												</div>

												<div
													class="ts-row-inner vc_row wpb_row vc_inner vc_row-fluid ts-fid-sep ts-zindex-0">

													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">


																<div
																	class="ts-fid inside ts-fid-boxstyle-without-icon ts-fidbox-style-3">
																	<div class="ts-fld-contents">
																		<h3 class="ts-fid-inner">
																			<span data-appear-animation="animateDigits"
																				data-from="0" data-to="750"
																				data-interval="5">
																				750 </span>
																		</h3>
																		<h6 class="ts-fid-title">
																			<span>CLIENTS<br></span>
																		</h6>
																	</div><!-- .ts-fld-contents -->
																</div>



															</div>
														</div>
													</div>


													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">


																<div
																	class="ts-fid inside ts-fid-boxstyle-without-icon ts-fidbox-style-3">
																	<div class="ts-fld-contents">
																		<h3 class="ts-fid-inner">
																			<span data-appear-animation="animateDigits"
																				data-from="0" data-to="400"
																				data-interval="5">
																				400 </span>
																		</h3>
																		<h6 class="ts-fid-title"><span>OUR
																				CLIENTS<br></span></h6>
																	</div><!-- .ts-fld-contents -->
																</div>



															</div>
														</div>
													</div>


													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">


																<div
																	class="ts-fid inside ts-fid-boxstyle-without-icon ts-fidbox-style-3">
																	<div class="ts-fld-contents">
																		<h3 class="ts-fid-inner">
																			<span data-appear-animation="animateDigits"
																				data-from="0" data-to="250"
																				data-interval="5">
																				250 </span>
																		</h3>
																		<h6 class="ts-fid-title">
																			<span>MEMBERS<br></span>
																		</h6>
																	</div><!-- .ts-fld-contents -->
																</div>



															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
									</div>




								</div>
							</div>


							<div class="vc_row-full-width vc_clearfix"></div>








							<div data-vc-full-width="true" data-vc-full-width-init="false"
								class="ts-row wpb_row vc_row-fluid vc_custom_1533285607880 ts-total-col-1 ts-zindex-0 ts-bgcolor-grey ts-bgimage-position-center_center">



								<div class="vc_row container">


									<div class="ts-column wpb_column vc_column_container vc_col-sm-12 ts-zindex-0">
										<div class="vc_column-inner  ">
											<div class="wpb_wrapper">
												<div
													class="ts-element-heading-wrapper ts-heading-inner ts-element-align-center ts-seperator-none ">
													<section class="ts-vc_cta3-container">
														<div
															class="ts-vc_general ts-vc_cta3 ts-cta3-only ts-vc_cta3-style-classic ts-vc_cta3-shape-rounded ts-vc_cta3-align-center ts-vc_cta3-color-transparent ts-vc_cta3-icon-size-md ts-vc_cta3-actions-no ts-cta3-without-desc">
															<div class="ts-vc_cta3_content-container">
																<div class="ts-vc_cta3-content">
																	<div class="ts-vc_cta3-content-header ts-wrap">
																		<div class="ts-vc_cta3-headers ts-wrap-cell">
																			<h2 class="ts-custom-heading ">
																				ABOUT US WE ARE
																				<strong>THE<br />
																					TRUSTED EXPERTS</strong>
																			</h2>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div> <!-- .ts-element-heading-wrapper container -->
												<div
													class="ts-row-inner vc_row wpb_row vc_inner vc_row-fluid ts-zindex-0">

													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">


																<div
																	class="ts-ihbox ts-ihbox-style-3 ts-ihbox-itype-icon ">
																	<div class="ts-sbox-bgimage-layer ts-bgimage-layer">
																	</div>
																	<div class="ts-ihbox-wrapper-bg-layer ts-bg-layer">
																	</div>

																	<div class="ts-ihbox-inner">
																		<div
																			class="ts-ihbox-icon ts-large-icon ts-icon-skincolor">
																			<div class="ts-ihbox-icon-wrapper">
																				<i
																					class="ts-labtechco-business-icon ts-labtechco-business-icon-microscope-2"></i>
																			</div>
																		</div>

																		<div class="ts-ihbox-contents">
																			<div
																				class="ts-vc_general ts-vc_cta3 ts-cta3-only ts-vc_cta3-style-classic ts-vc_cta3-shape-rounded ts-vc_cta3-align-left ts-vc_cta3-color-transparent ts-vc_cta3-icon-size-md ts-vc_cta3-actions-no ts-cta3-without-desc">
																				<div
																					class="ts-vc_cta3_content-container">
																					<div class="ts-vc_cta3-content">
																						<div
																							class="ts-vc_cta3-content-header ts-wrap">
																							<div
																								class="ts-vc_cta3-headers ts-wrap-cell">
																								<h2
																									class="ts-custom-heading ">
																									BLOOD
																									BANK
																									&amp;
																									CHEMISTRY
																								</h2>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="ts-cta3-content-wrapper">
																				RB SCIENCE is a research
																				based consulting and
																				publishing organization
																				working in the field of
																				pharmaceutical and
																				biological sciences..</div>
																		</div><!-- .ts-ihbox-contents -->
																	</div>
																</div>



															</div>
														</div>
													</div>


													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">


																<div
																	class="ts-ihbox ts-ihbox-style-3 ts-ihbox-itype-icon ">
																	<div class="ts-sbox-bgimage-layer ts-bgimage-layer">
																	</div>
																	<div class="ts-ihbox-wrapper-bg-layer ts-bg-layer">
																	</div>

																	<div class="ts-ihbox-inner">
																		<div
																			class="ts-ihbox-icon ts-large-icon ts-icon-skincolor">
																			<div class="ts-ihbox-icon-wrapper">
																				<i
																					class="ts-labtechco-business-icon ts-labtechco-business-icon-bacteria"></i>
																			</div>
																		</div>

																		<div class="ts-ihbox-contents">
																			<div
																				class="ts-vc_general ts-vc_cta3 ts-cta3-only ts-vc_cta3-style-classic ts-vc_cta3-shape-rounded ts-vc_cta3-align-left ts-vc_cta3-color-transparent ts-vc_cta3-icon-size-md ts-vc_cta3-actions-no ts-cta3-without-desc">
																				<div
																					class="ts-vc_cta3_content-container">
																					<div class="ts-vc_cta3-content">
																						<div
																							class="ts-vc_cta3-content-header ts-wrap">
																							<div
																								class="ts-vc_cta3-headers ts-wrap-cell">
																								<h2
																									class="ts-custom-heading ">
																									COAGULATION
																									&amp;
																									CYTOLOGY
																								</h2>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="ts-cta3-content-wrapper">
																				RB SCIENCE is a research
																				based consulting and
																				publishing organization
																				working in the field of
																				pharmaceutical and
																				biological sciences..<br />
																			</div>
																		</div><!-- .ts-ihbox-contents -->
																	</div>
																</div>



															</div>
														</div>
													</div>


													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">


																<div
																	class="ts-ihbox ts-ihbox-style-3 ts-ihbox-itype-icon ">
																	<div class="ts-sbox-bgimage-layer ts-bgimage-layer">
																	</div>
																	<div class="ts-ihbox-wrapper-bg-layer ts-bg-layer">
																	</div>

																	<div class="ts-ihbox-inner">
																		<div
																			class="ts-ihbox-icon ts-large-icon ts-icon-skincolor">
																			<div class="ts-ihbox-icon-wrapper">
																				<i
																					class="ts-labtechco-business-icon ts-labtechco-business-icon-flask"></i>
																			</div>
																		</div>

																		<div class="ts-ihbox-contents">
																			<div
																				class="ts-vc_general ts-vc_cta3 ts-cta3-only ts-vc_cta3-style-classic ts-vc_cta3-shape-rounded ts-vc_cta3-align-left ts-vc_cta3-color-transparent ts-vc_cta3-icon-size-md ts-vc_cta3-actions-no ts-cta3-without-desc">
																				<div
																					class="ts-vc_cta3_content-container">
																					<div class="ts-vc_cta3-content">
																						<div
																							class="ts-vc_cta3-content-header ts-wrap">
																							<div
																								class="ts-vc_cta3-headers ts-wrap-cell">
																								<h2
																									class="ts-custom-heading ">
																									Scientific
																									research
																								</h2>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="ts-cta3-content-wrapper">
																				RB SCIENCE is a research
																				based consulting and
																				publishing organization
																				working in the field of
																				pharmaceutical and
																				biological sciences..</div>
																		</div><!-- .ts-ihbox-contents -->
																	</div>
																</div>



															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
									</div>




								</div>
							</div>


							<div class="vc_row-full-width vc_clearfix"></div>








							<div data-vc-full-width="true" data-vc-full-width-init="false"
								class="ts-row wpb_row vc_row-fluid ts-total-col-1 ts-zindex-0 ts-bgcolor-skincolor ts-bgimage-position-center_center">



								<div class="vc_row container">


									<div class="ts-column wpb_column vc_column_container vc_col-sm-12 ts-zindex-0">
										<div class="vc_column-inner  ">
											<div class="wpb_wrapper">

												<div
													class="ts-row-inner vc_row wpb_row vc_inner vc_row-fluid ts-zindex-0">

													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-3 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">
																<div
																	class="ts-element-heading-wrapper ts-heading-inner ts-element-align-left ts-seperator-none ">
																	<section class="ts-vc_cta3-container">
																		<div
																			class="ts-vc_general ts-vc_cta3 ts-cta3-only ts-vc_cta3-style-classic ts-vc_cta3-shape-rounded ts-vc_cta3-align-left ts-vc_cta3-color-transparent ts-vc_cta3-icon-size-md ts-vc_cta3-actions-no ts-cta3-without-desc">
																			<div class="ts-vc_cta3_content-container">
																				<div class="ts-vc_cta3-content">
																					<div
																						class="ts-vc_cta3-content-header ts-wrap">
																						<div
																							class="ts-vc_cta3-headers ts-wrap-cell">
																							<h2
																								class="ts-custom-heading ">
																								OUR <strong>EXPERT
																									TEAM</strong>
																							</h2>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</section>
																</div>
																<!-- .ts-element-heading-wrapper container -->
															</div>
														</div>
													</div>


													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-9 ts-zindex-0">
														<div
															class="vc_column-inner vc_custom_1535458380496 ts-responsive-custom-79012817">

															<div class="wpb_wrapper">
																<div
																	class="themestek-boxes themestek-boxes-team themestek-boxes-view-default themestek-boxes-col-three themestek-boxes-sortable-no themestek-boxes-textalign-center themestek-boxes-sortablebutton- ts-two-colum-view">
																	<div
																		class="themestek-boxes-inner themestek-boxes-team-inner ">

																		<div
																			class="row multi-columns-row themestek-boxes-row-wrapper">
																			{% for data in teammember|slice:":3" %}
																			<div
																				class="ts-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 ">
																				<article
																					class="themestek-box themestek-box-team ts-teambox-style-4 themestek-box-team-style4">
																					<div class="themestek-post-item">
																						<div
																							class="themestek-team-image-box ts-bgcolor-skincolor">

																							<span
																								class="themestek-item-thumbnail">
																								<span
																									class="themestek-item-thumbnail-inner">
																									<img width="600"
																										height="768"
																										src="/media/{{data.profile}}"
																										class="attachment-themestek-img-600x785 size-themestek-img-600x785 wp-post-image"
																										alt="" />
																								</span>
																							</span>
																							<div
																								class="themestek-box-content">
																								<div
																									class="themestek-box-desc">
																									<div
																										class="themestek-box-title">
																										<h4><a
																												href="{% url 'singleteam' data.slug %}">{{data.name}}</a>
																										</h4>
																									</div>
																									<div
																										class="themestek-box-team-position">
																										{{data.position}}
																									</div>
																									<div
																										class="themestek-box-social-links">
																										<div
																											class="ts-team-social-links-wrapper">
																											<ul
																												class="ts-team-social-links">
																												  {% if data.twiter %}
																												<li>
																													<a href="{{data.twiter}}" target="_blank" class="">
																														<i class="ts-labtechco-icon-twitter"></i>
																														<span class="ts-hide">Twitter</span>
																													</a>
																												</li>
																												{% endif %}
																												{% if data.facebook %}
																												<li>
																													<a href="{{data.facebook}}" target="_blank" class="">
																														<i class="ts-labtechco-icon-facebook"></i>
																														<span class="ts-hide">Facebook</span>
																													</a>
																												</li>
																												{% endif %}
																												{% if data.google %}
																												<li>
																													<a href="{{data.google}}" target="_blank" class="">
																														<i class="ts-labtechco-icon-gplus"></i>
																														<span class="ts-hide">Google+</span>
																													</a>
																												</li>
																												{% endif %}
																												{% if data.linkedin %}
																												<li>
																													<a href="{{data.linkedin}}" target="_blank" class="">
																														<i class="ts-labtechco-icon-linkedin"></i>
																														<span class="ts-hide">LinkedIn</span>
																													</a>
																												</li>
																												{% endif %}
																											</ul>
																											<!-- .ts-team-social-links -->
																										</div>
																										<!-- .ts-team-social-links-wrapper -->
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</article>

																			</div>
																			{% endfor %}
																		</div>
																	</div><!-- .themestek-boxes-inner -->
																</div><!-- .themestek-boxes -->
															</div>
														</div>
													</div>

												</div>


												<div
													class="ts-row-inner vc_row wpb_row vc_inner vc_row-fluid ts-zindex-0">

													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">
																<div
																	class="themestek-progress-bar vc_progress_bar wpb_content_element vc_progress-bar-color-white vc_progress-bar-color-white">
																	<div
																		class="ts-pbar-single-bar-w ts-pbar-icon-false">
																		<div class="vc_general vc_single_bar">
																			<small class="vc_label">
																				BIOTECHNOLOGY</small> <span
																				class="ts-vc_label_units vc_label_units">90%</span><span
																				class="vc_bar "
																				data-percentage-value="90"
																				data-value="90"></span>
																		</div>
																	</div>
																</div>
																<div class="wpb_text_column wpb_content_element ">
																	<div class="wpb_wrapper">
																		<p>RB SCIENCE is a research based
																			consulting and publishing
																			organization working in the
																			field of pharmaceutical and
																			biological sciences..</p>

																	</div>
																</div>
															</div>
														</div>
													</div>


													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">
																<div
																	class="themestek-progress-bar vc_progress_bar wpb_content_element vc_progress-bar-color-white vc_progress-bar-color-white">
																	<div
																		class="ts-pbar-single-bar-w ts-pbar-icon-false">
																		<div class="vc_general vc_single_bar">
																			<small class="vc_label">VACCINES</small>
																			<span
																				class="ts-vc_label_units vc_label_units">90%</span><span
																				class="vc_bar "
																				data-percentage-value="90"
																				data-value="90"></span>
																		</div>
																	</div>
																</div>
																<div class="wpb_text_column wpb_content_element ">
																	<div class="wpb_wrapper">
																		<p>RB SCIENCE is a research based
																			consulting and publishing
																			organization working in the
																			field of pharmaceutical and
																			biological sciences..</p>

																	</div>
																</div>
															</div>
														</div>
													</div>


													<div
														class="ts-column-inner wpb_column vc_column_container vc_col-sm-4 ts-zindex-0">
														<div class="vc_column-inner  ">

															<div class="wpb_wrapper">
																<div
																	class="themestek-progress-bar vc_progress_bar wpb_content_element vc_progress-bar-color-white vc_progress-bar-color-white">
																	<div
																		class="ts-pbar-single-bar-w ts-pbar-icon-false">
																		<div class="vc_general vc_single_bar">
																			<small class="vc_label"> MEDICAL
																				RESEARCH</small> <span
																				class="ts-vc_label_units vc_label_units">90%</span><span
																				class="vc_bar "
																				data-percentage-value="90"
																				data-value="90"></span>
																		</div>
																	</div>
																</div>
																<div class="wpb_text_column wpb_content_element ">
																	<div class="wpb_wrapper">
																		<p>RB SCIENCE is a research based
																			consulting and publishing
																			organization working in the
																			field of pharmaceutical and
																			biological sciences..</p>

																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
									</div>




								</div>
							</div>


							<div class="vc_row-full-width vc_clearfix"></div>










					</article><!-- #post-## -->

				</main><!-- #main .site-main -->
			</div><!-- #primary .content-area -->





		</div><!-- .site-content-inner -->
	</div><!-- .site-content -->
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    data = document.getElementsByClassName("vc_bar")
for(i=0;i<data.length;i++){
data[i].setAttribute('style',"width:"+data[i].getAttribute('data-value')+"%;")
}
}, false);

</script>
{% endblock %}
{% block css %}
<style data-type="vc_shortcodes-custom-css">
		.vc_custom_1535171682818 {
			padding-bottom: 50px !important;
		}

		.vc_custom_1533893514163 {
			padding-top: 0px !important;
			padding-bottom: 40px !important;
		}

		.vc_custom_1533285607880 {
			padding-bottom: 100px !important;
		}

		.vc_custom_1533536933706 {
			padding-right: 15% !important;
		}

		.vc_custom_1534659576627 {
			margin-bottom: 10px !important;
		}

		.vc_custom_1534659427495 {
			padding-right: 50px !important;
			padding-bottom: 10px !important;
			padding-left: 50px !important;
		}

		.vc_custom_1535171890113 {
			margin-top: -200px !important;
			padding-right: 15% !important;
		}

		.vc_custom_1535458380496 {
			margin-top: -150px !important;
		}
	</style><noscript>
		<style>
			.wpb_animate_when_almost_visible {
				opacity: 1;
			}
		</style>
	</noscript>
	{% endblock %}